<div class="form-container" *ngIf="buttonClicked==false;else response">

  <p class="mat-title"> Passwort - Reset </p>

  <div class="container-element">
    <mat-form-field appearance="outline">
      <mat-label>Email-Adresse</mat-label>
      <input matInput placeholder="pat@example.de" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="container-element">
    <button mat-raised-button (click)="sendResetMail()">
      senden
    </button>
  </div>

</div>

<ng-template #response>
  <div *ngIf="isValid==true">
    Bitte schaue in dein Email-Postfach um dein Passwort zurückzusetzen.
  </div>
  <div *ngIf="isValid==false">
    {{lastError.code=="auth/user-not-found" ? "Kein User mit der angegebenen Email vorhanden..." : lastError.message}}
    <button mat-raised-button (click)="buttonClicked=false">zurück</button>
  </div>
</ng-template>
