.loading-bar {
  position: fixed;
  top: 56px;
  z-index: 999;
}

.content-container {
  height: calc(100vh - 2*56px - 75px); /* fallback */
  height: calc(var(--vh, 1vh) * 100 - 2*56px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  overflow-y: auto;
}

.settings-panel {
  width: 100%;
}

.match-selection-radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
}

.match-selection-radio-button {
  margin-left: 10px;
  margin-right: 10px;
}

mat-slider {
  width: 100%;
}

.form-container {
  width: 100%;
  padding-top: 15px;
}

.bet-form-field-home {
  width: calc(50% - 1em);
  text-align: right;
}

.bet-form-field-away {
  width: calc(50% - 1em);
  text-align: left;
}

.input-bet-home {
  text-align: right;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.input-bet-away {
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.select-team {
  text-align: center;
  font-family: "Roboto Mono";
  width: 100%;
}

.td-result {
  width: calc(100vw - 40px - 2*16px);
  padding-bottom: 12.5px;
}

.td-season-result {
  padding-bottom: 2.5px;
}

.td-lock-icon {
  text-align: left;
  vertical-align: top;
}

.lock-icon {
  position: relative;
  top: 10px; /* used to adjust the icon in the td */
}


.load-button {
  width: 100%;
}
