.example-form {
  min-width: 80px;
  max-width: 135px;
  width: 45%;
}

.match-selection-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.match-selection-radio-button {
  margin-left: 10px;
  margin-right: 15px;
}

.settings-panel {
  width: 100%;
}

mat-slider {
  width: 75%;
}
