<ng-container *ngIf="!isSynchronizing">
  <h2 mat-dialog-title>Daten abrufen</h2>
    <mat-dialog-content>
      Da wir momentan das Basismodell von google firebase nutzen, können wir
      <b>keine Backend-Services</b> nutzen. Das heißt, die Daten-Synchronisation mit den
      Bundesliga-Spieldaten erfolgt über deinen Browser.
      <br><br>
      <b>Bitte stelle also sicher, dass du eine stabile Verbindung hast.</b>
      <br><br>
      Um ein bisschen Performance zu gewinnen, werden die Wertungen jedes
      Spieltags während der Synchronisation in unsere Datenbank geschrieben.
      <br>
      Hierbei ist es sehr wichtig, dass du den <b>Synchronisationsprozess nicht
      durch Schließen des Browsers vorzeitig abbrichst.</b>
      <br>
      Wenn die Synchronisation abgeschlossen ist, schließt sich das Fenster von selbst.
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>abbrechen</button>
      <button mat-button (click)="startSync()" cdkFocusInitial>capito, go!</button>
    </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="isSynchronizing">
  <h2 mat-dialog-title style="text-align:center">Synchronisiere</h2>
    <mat-dialog-content style="text-align:center">
        <mat-spinner style="margin:0 auto;"></mat-spinner>
        <h3>
          <ng-container *ngIf="progress > 90; else syncMatchesDisplay">{{progress}} % (aktualisiere Tabelle)</ng-container>
          <ng-template #syncMatchesDisplay>{{progress}} % (Spiele synchronisieren)</ng-template>
        </h3>
    </mat-dialog-content>
</ng-container>
