@import '~@angular/material/theming';
@include mat-core();

$primary_palette: mat-palette($mat-teal, 200, 50, 400);
$accent_palette: mat-palette($mat-teal, 200, 50, 400);

$green-theme: mat-light-theme((
  color: (
    primary: $primary_palette,
    accent: $accent_palette,
  )
));

@include angular-material-theme($green-theme);
