@use '~@angular/material' as mat;
@include mat.core();

$primary_palette: mat.define-palette(mat.$teal-palette, 200, 50, 400);
$accent_palette: mat.define-palette(mat.$teal-palette, 200, 50, 400);

$green-theme: mat.define-light-theme((
  color: (
    primary: $primary_palette,
    accent: $accent_palette,
  )
));

@include mat.all-component-themes($green-theme);
