<mat-toolbar class="toolbar-top">
  <button mat-icon-button>
    <mat-icon>notes</mat-icon>
  </button>
  <div>
    <mat-icon>nights_stay</mat-icon>
    <mat-slide-toggle
      color="accent"
      [checked]="applyDarkTheme.value"
      [formControl]="applyDarkTheme"
      (change)="switchTheme()">
    </mat-slide-toggle>
  </div>
</mat-toolbar>

<app-bet-write
  *ngIf = "selectedPage == 'write'"
  [userId] = "loggedUser.id"
  [selectedMatchday] = "matchdayNextMatch"
  [lastUpdateTime] = "betsUpdateTime"
  (selectMatchdayEvent) = "changeMatchdayOnUserSelection($event)">
</app-bet-write>

<app-bet-overview
  *ngIf = "selectedPage == 'view'"
  [userId] = "loggedUser.id"
  [selectedMatchday] = "matchdayClosestMatch"
  [matchdayCompleted] = "matchdayCompleted">
</app-bet-overview>

<app-table
  *ngIf = "selectedPage == 'table'"
  [userId] = "loggedUser.id"
  [currentMatchday] = "matchdayLastMatch">
</app-table>

<app-dashboard
  *ngIf = "selectedPage == 'dashboard'"
  [userId] = "loggedUser.id"
  [matchdayNextMatch] = "matchdayNextMatch"
  [matchdayLastMatch] = "matchdayLastMatch"
  [matchdayCompleted] = "matchdayCompleted">
</app-dashboard>

<mat-toolbar class="toolbar-bottom">
  <!-- dashboard -->
  <button mat-icon-button color="{{selectedPage == 'dashboard'? 'accent' : 'primary'}}" (click)="changeView('dashboard')">
    <mat-icon>grid_view</mat-icon>
  </button>

  <!-- write bets -->
  <button mat-icon-button color="{{selectedPage == 'write'? 'accent' : 'primary'}}" (click)="changeView('write')">
    <mat-icon>edit</mat-icon>
  </button>

  <!-- bet overview -->
  <button mat-icon-button color="{{selectedPage == 'view'? 'accent' : 'primary'}}" (click)="changeView('view')">
    <mat-icon>search</mat-icon>
  </button>

  <!-- table -->
  <button mat-icon-button color="{{selectedPage == 'table'? 'accent' : 'primary'}}" (click)="changeView('table')">
    <mat-icon>format_list_numbered</mat-icon>
  </button>
</mat-toolbar>
