.toolbar-top {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background: var(--primary-color);
}

.toolbar-bottom {
  position: fixed;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: space-evenly;
}
